.container{
    margin: auto;
    max-width: 500px;
    font-family: sans-serif;
}
.heading {
    color: rebeccapurple;
  }
  p{
    margin: 0;
    color: rgb(130, 130, 130);
  }
  H2{
    color: rgb(51, 51, 51);
    margin-bottom: 10px;
  }
  .nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
  }
  .nav-link-item {
    margin-right: 30px;
  }
  .nav-link-text {
    color: black;
  }
.site-title {
    font-size: 3rem;
    color: gray;
    font-weight: 700;
    margin: 3rem 0;
  }
.excerpt-style {
    margin-top: 5px;
  }